
.fondo-de-pantalla{
    background-image: url(./fondo-de-pantalla.jpg);
   padding: 3%;

}

.descuento-efectivo h3{
    font-size: 16px;
    text-align: center;
    background-color: lightgrey;
    font-weight: 800;
    color: #000;
}

.btn-btn-link{
    color: #FFF;
    text-decoration: none;
    padding: 4%;
}

.ir-a-menu{
    font-weight: 200;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightgray;
    color: rgb(0, 0, 0);
    
}

.img {
    max-width: 250px;
    height: auto;
}

.horario{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 30px;
}

.dias, h5{
   font-size: 30px;
   color: whitesmoke;
   font-family: 'Montserrat', sans-serif;
}
.dias, p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.metodo-entrega{
    display: flex;
    justify-content: center;
}
.entrega, h3{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
}


.take-away1{
    font-weight: 250;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-family:  'Montserrat', sans-serif;
}

.btn {
    border: 2px solid rgb(0, 0, 0); 
    padding: 10px; 
    background-color: lightgray; 
    color: black; 
}

.delivery2{
    font-weight: 250;
    border-bottom: white;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
    font-family:  'Montserrat', sans-serif;;
}

.btn-btn-light {
    color: #fff; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 40;
}

.selecciona-local1{
    justify-content: center;
    color: whitesmoke; 
    font-size: 20px;
    display: flex;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.selecciona-sucursal2{
    display: flex;
    padding: 10%;
    align-items: center;
    flex-direction: column;
    font-size: 32px;

}

.selecciona-sucursal2 h3{
    background-color: darkgray;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #000;
}

.card-mb-3{
    background-color: transparent; 
    color: white; 
}

.mb-3{
    margin-bottom: 1rem !important;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.card-text{
    color: white;
}

.card, h5{
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-around;
}

.card-title{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
    text-align: center;
}

.redes-sociales{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 3%;  
}

.icono {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.terminos-condiciones{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.fondo-de-pantalla-take-away{
    background-image: url(./fondo-de-pantalla.jpg);
    padding: 9%;
    max-width: 200%;
}

.fondo-de-pantalla-delivery{
    background-image:  url(./fondo-de-pantalla.jpg);
    padding: 10%;
}

.sucursal-la-plata{
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    border: black;
    font-size: 20px;
}

.formulariolp h2{
    transform:  scale(1.1);
   transition: transform 0.7s; 
}

.formulariocb h2{
    transform: scale(1.1);
   transition: transform 0.7s; 

}

.sucursal-lp{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    padding: 5%;
    background-color: #838383;
}



.ir-a-menu2{
    display: flex;
   justify-content: space-around;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 100%;
   padding: 2%;
   border: 2px solid rgb(0, 0, 0);
   background-color: lightgray;
   color: black;
}

.sucursal-city-bell{
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    border: black;
    font-size: 20px;
}


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.fondo-de-pantalla-manu {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #777373;    
}

.menu-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: larger;
    color: white;
}

.menu-h2 h2 {
    padding: 40px;
    font-size: 45px;
    margin: 0;
}

.menu-h2 .cart {
    position: absolute;
    right: 25px;
    width: 35px;
    height: 35px;
}


.contenido {
    position: relative;
    z-index: 1;
}

.card, h5 {
    display: flex;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
}


.hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hamburguesa-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguesa img {
    max-width: 100%;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.carousel-item-active {
    text-align: center;
}



.hamburguesa-1 {
    display: block;
    margin: 0 auto;
}

.hamburguesa-2{
    display: block;
    margin: 0 auto;
}

.hamburguesa-3{
    display: block;
    margin: 0 auto;
}

.hamburguesa-4{
    display: block;
    margin: 0 auto;
}

.hamburguesa-5{
    display: block;
    margin: 0 auto;
}

.hamburguesa-6{
    display: block;
    margin: 0 auto;
}

.hamburguesa-7{
    display: block;
    margin: 0 auto;
}

.hamburguesa-8{
    display: block;
    margin: 0 auto;
}

.hamburguesa-9{
    display: block;
    margin: 0 auto;
}

.hamburguesa-10{
    display: block;
    margin: 0 auto;
}

.carousel-caption-d-none button{
    border: none;
    background: none;
    background-color: #fff;
    color:#000;
    padding: 15px 10px;
    cursor: pointer;
    
}

.carousel-caption-d-none p{
    color: #fff;
}

.col-md-6-hamburguesa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel-caption-d-none {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.ir-a-menu{
   display: flex;
   justify-content: space-around;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 100%;
   padding: 3%;
}

.whatsapp-float {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 40px;
    background-color: rgb(0, 177, 0);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}


.whatsapp-float:hover {
    box-shadow: 2px 2px 8px #ffffff; 
}

.whatsapp-icon {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.presentacion-burgers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    align-items: center;
    justify-content: center;
    justify-items: center;
   
}

.presentacion-burgers h4{ 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .burger:nth-child(1) {
    animation-delay: 0.5s;
  }
  
  .burger:nth-child(2) {
    animation-delay: 1s;
  }
  
  .burger:nth-child(3) {
    animation-delay: 1.5s;
  }
  
  .burger:nth-child(4) {
    animation-delay: 2s;
  }
  

  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
}


.pedilas-aca {
    border: 2px solid #fff; 
    padding: 5px; 
    text-decoration: none; 
    border-radius: 5px; 
    color: #fff;
    font-size: 20px;
}
      
.pedilas-aca:hover {
    border-color: black;
}

.pedilas-acaa {
     
    padding: 10px; 
    text-decoration: none; 
    border-radius: 5px; 
    color: #fff; 
    font-size: 19px; 
    display: inline-block; 
}

.pedilas-acaa:hover {
    border-color: #fff;
}




@media (max-width: 450px) {
    .fondo-de-pantalla{
        background-image: url(./fondo-de-pantalla.jpg);
       padding: 3%;
    
    }
    .btn-btn-link{
        color: #FFF;
        text-decoration: none;
        padding: 4%;
    }
    
    .descuento-efectivo h3{
        font-size: 16px;
        text-align: center;
        background-color: lightgrey;
        font-weight: 800;
        color: #000;
    }
    
    .ir-a-menu{
        font-weight: 200;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding: 4px;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid rgb(0, 0, 0);
        background-color: lightgray;
        color: black;
        
    }
    
    .img {
        max-width: 250px;
        height: auto;
    }
    
    .horario{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        font-size: 30px;
    }
    
    .dias, h5{
       font-size: 30px;
       color: whitesmoke;
       font-family: 'Montserrat', sans-serif;
    }
    .dias, p{
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    .metodo-entrega{
        display: flex;
        justify-content: center;
    }
    .entrega, h3{
        font-size: 30px;
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    .take-away1{
        font-weight: 250;
        color: white;
        font-size: 35px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        font-family:  'Montserrat', sans-serif;
    }
    
    .btn {
        border: 2px solid rgb(0, 0, 0); 
        padding: 10px; 
        background-color: lightgray; 
        color: black; 
    }
    
    .delivery2{
        font-weight: 250;
        border-bottom: white;
        color: white;
        font-size: 35px;
        display: flex;
        justify-content: space-evenly;
        font-family:  'Montserrat', sans-serif;;
    }
    
    .btn-btn-light {
        color: #fff; 
        font-weight: bold;
        text-decoration: none; 
        font-size: 40;
    }
    
    .selecciona-local1{
        justify-content: center;
        color: whitesmoke; 
        font-size: 20px;
        display: flex;
        text-align: center;
        font-family: 'Anton', sans-serif;
    }
    
    .selecciona-sucursal2{
        display: flex;
        padding: 10%;
        align-items: center;
        flex-direction: column;
        font-size: 32px;
    
    }
    
    .selecciona-sucursal2 h3{
        background-color: darkgray;
        padding: 10px; 
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        color: #000;
    }
    
    .card-mb-3{
        background-color: transparent; 
        color: white; 
    }
    
    .mb-3{
        margin-bottom: 1rem !important;
    }
    
    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }
    
    .card-text{
        color: white;
    }
    
    .card, h5{
        display: flex;
        margin-bottom: .5rem;
        justify-content: space-around;
    }
    
    .card-title{
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 24px;
        text-align: center;
    }
    
    .redes-sociales{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 3%;  
    }
    
    .icono {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    
    .terminos-condiciones{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    
    .fondo-de-pantalla-take-away{
        background-image: url(./fondo-de-pantalla.jpg);
        padding: 9%;
        max-width: 200%;
    }
    
    .fondo-de-pantalla-delivery{
        background-image:  url(./fondo-de-pantalla.jpg);
        padding: 10%;
    }
    
    .sucursal-la-plata{
        justify-content: center;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        border: black;
        font-size: 20px;
    }
     
    .sucursal-lp{
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
        padding: 5%;
        background-color: #838383;
    }
    
    .ir-a-menu2{
        display: flex;
       justify-content: space-around;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 100%;
       padding: 2%;
       border: 2px solid rgb(0, 0, 0);
       background-color: lightgray;
       color: black;
    }
    
    .sucursal-city-bell{
        justify-content: center;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        border: black;
        font-size: 20px;
    }
    
    
    body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .fondo-de-pantalla-manu {
        z-index: -1; /* Para estar detrás de otros contenidos */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../imagenes/fondo-menu.jpg') no-repeat center center fixed; 
        background-size: cover;    
    }
    
    .menu-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: larger;
        color: white;
    }
    
    .menu-h2 h2 {
        padding: 40px;
        font-size: 45px;
        margin: 0;
    }
    
    .menu-h2 .cart {
        position: absolute;
        right: 25px;
        width: 35px;
        height: 35px;
    }
    
    
    .contenido {
        position: relative;
        z-index: 1;
    }
    
    .card, h5 {
        display: flex;
        margin-bottom: .5rem;
        justify-content: center;
        align-items: center;
    }
    
    
    .hamburguesa {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .hamburguesa-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hamburguesa img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
    
    .carousel-item-active {
        text-align: center;
    }
    
    
    
    .hamburguesa-1 {
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-2{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-3{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-4{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-5{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-6{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-7{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-8{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-9{
        display: block;
        margin: 0 auto;
    }
    
    .hamburguesa-10{
        display: block;
        margin: 0 auto;
    }
    
    .carousel-caption-d-none button{
        border: none;
        background: none;
        background-color: #fff;
        color:#000;
        padding: 15px 10px;
        cursor: pointer;
        
    }
    
    .carousel-caption-d-none p{
        color: #fff;
    }
    
    .col-md-6-hamburguesa2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .carousel-caption-d-none {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
    }
    
    .ir-a-menu{
       display: flex;
       justify-content: space-around;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 100%;
       padding: 3%;
    }
    
    .whatsapp-float {
        position: fixed;
        width: 65px;
        height: 65px;
        bottom: 40px;
        right: 40px;
        background-color: rgb(0, 177, 0);
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }
    
    
    .whatsapp-float:hover {
        box-shadow: 2px 2px 8px #ffffff; 
    }
    
    .whatsapp-icon {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .presentacion-burgers{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        align-items: center;
        justify-content: center;
        justify-items: center;
       
    }
    
    .presentacion-burgers h4{ 
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .burger {
        opacity: 0;
        animation: fadeIn 1s forwards;
      }
      
      .burger:nth-child(1) {
        animation-delay: 0.5s;
      }
      
      .burger:nth-child(2) {
        animation-delay: 1s;
      }
      
      .burger:nth-child(3) {
        animation-delay: 1.5s;
      }
      
      .burger:nth-child(4) {
        animation-delay: 2s;
      }
      
      .burger:nth-child(5) {
        animation-delay: 2.5s;
      }
      
      .burger:nth-child(6) {
        animation-delay: 3s;
      }
      
      @keyframes fadeIn {
        to {
          opacity: 1;
        }
    }
    
    
    .pedilas-aca {
        border: 2px solid #fff; 
        padding: 5px; 
        text-decoration: none; 
        border-radius: 5px; 
        color: #fff;
        font-size: 20px;
    }
          
    .pedilas-aca:hover {
        border-color: black;
    }
    
    .pedilas-acaa {
        border: 2px solid #000; 
        padding: 10px; 
        text-decoration: none; 
        border-radius: 5px; 
        color: #fff; 
        font-size: 19px; 
        display: inline-block; 
    }
    
    .pedilas-acaa:hover {
        border-color: #fff;
    }
    .formulariolp h2{
        transform:  scale(1.1);
       transition: transform 0.7s; 
    }
    
    .formulariocb h2{
        transform: scale(1.1);
       transition: transform 0.7s; 
    }      
    
}